doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Imgview
    body 
        if card_id.startsWith('b')
            img(src=`/cardimg/buddy/${card_id.substr(1)}.png`)
        else 
            img(src=`/cardimg/${card_id+'['+card_data.prefix+']'+card_data.card_name}.webp`)
        each val, key in card_data
            if key.endsWith('1')
                continue
            else if key !== 'script'
                h3=key 
                p=val.replaceAll('<br>', '') 
            else 
                h3=key
                each script of val 
                    p=script.replaceAll('<br>', '') 